.button {
  padding: 12px 24px;
  background-color: var(--active);
  color: white;
  border-radius: 8px;
  transition: var(--base-transition);

  &:hover {
    background-color: var(--activeDark);
  }
}

.link-view-button {
  color: var(--danger);
  box-shadow: none;
  font-size: 16px;
}
