<div class="card">
  <h2>Вход</h2>
  <form class="form">
    {{{ button }}}
  </form>
</div>


    {{!-- {{> fieldset label="Логин" type="text" name="login"}}
    {{> fieldset label="Пароль" type="password" name="password"}}
    {{> button label="Авторизоваться" className="form__button" }}
    {{> link text="Нет аккаунта?" href="" centred=true }} --}}