.custom-link {
  color: var(--active);
  text-align: center;
  transition: var(--base-transition);

  &:hover {
    color: var(--active-dark);
  }
}

.active-link {
  color: var(--active-dark);
  text-decoration: underline;
}

.danger {
  color: var(--danger);
}

.gray {
  color: var(--normal-gray);
}
